{
    "presets": [
      "env","react"
    ],
    "plugins": [
      "transform-class-properties",
      "transform-object-rest-spread",
      "transform-runtime",
      ["module-resolver", {
        "root": ["./src"],
        "alias":{
          "App":"./src/App",
          "Home":"./src/Home",
          "Liquidity":"./src/Liquidity",
          "reduxUtils":"./src/reduxUtils",
          "router":"./src/router",
          "theme":"./src/theme"
        }
      }]
    ]
  }